/* 
 * Samy Sah
 * Labo 09-12
 * Basic Web Development
 */

 /* element selectors */

body{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	width: 1000px;
}
.wrapper {
	display: flex;
	flex-flow: row wrap; 
	max-width: 600px;  
}
header {
  overflow: hidden;
}
li {
  float: left;
  justify-content: space-between;
}
.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}