/**
* General stylesheet 
*
*@author Samy Sah <samy.sah@student.odisee.be>
*
*/

/*=============================================
* General
===============================================*/
html{
	font-size: 0.625rem;
}
*{
	box-sizing: border-box;
	border-radius: 0.4rem;
	margin: 0;
	padding: 0;
}
body{
	background-color: #fbd3682e;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3rem;
	line-height: 2;
	max-width: 115rem;
	margin: auto;
}
a{
	text-decoration: none;
}

/*=============================================
* Layout
===============================================*/


/*=============================================
* Header
===============================================*/

header{
	align-items: center;
	border-bottom: 0.3rem solid #fbd368;
	background-color: #fbd3682e;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.1rem;
}

.logo-container{
	display: block;
	max-width: 100%;
	margin-left: 8.5em;
}

.logo-container img{
	border-style: groove;
	border-color: #000;
	max-width: 55%;
}
nav{
	display: flex;
}

.nav-links{
	list-style: none;
	max-width: 100%;
}

ul li a{
	color: black;
	font-size: 2rem;
	text-decoration: none;
}

nav a{
	border: 1px solid transparent;
	color: black;
	padding: 0 2rem;
	text-decoration: none;
	transition: 0.6s;
}

nav a:hover{
	background-color: #000;
	color: #fff;
}
header li.active a{
	background-color: #000;
	color: #fbd368;
}

/*=============================================
* Main
===============================================*/

main{
	background-color: #fbd3682e;
}

main .content{
	background-image: url(../images/lexi.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.content{
	padding: 28rem 0 28rem 0;
}

.text{
	background-color: rgba(251, 211, 150, 0.35);

}
.text h1{
	color: #fff;
	font-weight: 500;
	font-size: 6rem;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.text p{
	color: #fff;
	font-size: 2.2rem;
	font-weight: bold;
	margin-top: -2.5rem;
	text-align: center;
}

@media(min-width: 50em){ /* 480px = 16 * 30 */
	header{
		display: flex;
	}
	.nav-links{
		display: flex;
	}
}
main .wrapper{
	display: flex;
	flex-flow: row nowrap;	
}

main .column {
	width: 30%;
}
main img{
	max-width: 60%;
}

.column{
	display: flex;
	float: left;
	justify-content: center;
}
.column img{
	max-width: 80%;
}
.Formulaire h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 3.4rem;
}
.parents h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 1.7rem;
	text-align-last: center;
}
.parents p{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	text-align-last: center;
}
.parents h1{
	align-items: flex-end;
	display: flex;
	height: 0.3rem;
	margin: 5rem auto 0.5rem;
	width: 23rem;
	margin-left: 47rem;
}

.icon{
	border-style: solid;
	border-radius: 1.4rem;
	font-size: 4rem;
	height: 10.2rem;
	margin: 2rem auto;
	max-width: 10rem;
	padding: 0.4rem 2rem;
	text-align-last: center;
}
.parents{
	display:flex;
}
.item{
	flex-grow: 1;
	text-align: center;
	border-top: 2px #0000002e dashed;
	color: black;
}
.item img{
	height: 20rem;
	width: 20rem;
	padding-bottom: 10px;
}
.item + .item{
	margin-left: 10%;
}
/*=============================================
* Footer
===============================================*/

footer p{
	margin: 1rem;
}
footer h3{
	margin: 1rem;
}
footer .wrapper{
	margin-left: 0rem;
	display: flex;
	border-radius: 0.4rem;
	margin-top: 1rem;
	flex-direction: column-reverse;
	background-color: #fbd3682e;
	color: black;
	box-shadow: 0px 0px 5px 1px #000000;
	margin-bottom: 2rem;
}
/*=============================================
* all-inclusive prices.html
===============================================*/
#prices{
	width: 100%;
}
#prices img{
	float: right;
	margin-top: 7rem;
	max-width: 60%;
	margin-bottom: 9rem;
}
#prices h4{
	font-size: 1.5rem;
	text-transform: uppercase;
	margin-left: 2rem;
}
#prices li{
	font-size: 1.3rem;
	margin-left: 2rem;
}

/*=============================================
* About.html
===============================================*/
.about img{
	height: 17rem;
	margin-top: -4rem;
}
.about h1{
	font-size: 2.3rem;
	margin-left: 1rem;
}
.about li{
	font-size: 1.3rem;
	margin-left: 4rem;
}
#profile{
	float: right;
}
a {
	color: #000;
}
#p-bottom{
	margin-top: 40px;
    font-style: italic;
	text-align: center;
}
/*=============================================
* Contact.html
* Formulier
===============================================*/
.Formulaire{
	align-items: center;
	display: flex;
	flex-direction: column;
}
input{
	align-items: center;
	display: block;
	margin-bottom: 1rem;
	width: 120%;
}

input [type=text], [type=textarea]{
	box-sizing: border-box;
	border-radius: 0.4em;
	border: 0.2em solid yellow;
	margin: 0.8rem 0;
	padding: 1.2rem 2rem;
	width: 100%;
}
textarea{
	box-sizing: border-box;
	border: 0.2em solid #000;
	border-radius: 0.4em;
	background-color: #fdf0cd;
	height: 15rem;
	padding: 1.2rem 2rem;
	width: 100%;
	resize: none;
}
select{
	border: none;
	border-radius: 0.4em;
	background-color: #ccc;
	padding: 1.6rem 2rem;
	width: 100%;
}
input:hover{
	background-color: #fdf0cd;
	color: black;
}
input [type=submit]{
	border: 1px solid blue;
	padding: 0.5rem;
	transition: all 0.6s ease;
}
iframe{
	display: flex;
}
